
@font-face {
    font-family: '小篆';
    src: url('../fonts/xz.eot'); 
    src: url('../fonts/xz.eot?#iefix') format('embedded-opentype'), 
             url('../fonts/xz.woff') format('woff'), 
             url('../fonts/xz.ttf')  format('truetype'),
             url('../fonts/xz.svg#xz') format('svg'); 
}


@font-face {
    font-family: '手写';
    src: url('../fonts/sxt.eot'); 
    src: url('../fonts/sxt.eot?#iefix') format('embedded-opentype'), 
             url('../fonts/sxt.woff') format('woff'), 
             url('../fonts/sxt.ttf')  format('truetype'),
             url('../fonts/sxt.svg#sxt') format('svg'); 
}


// @font-face {
//     font-family: '苹果黑';
//     src: url('../fonts/苹果黑体-极细-简.eot'); 
//     src: url('../fonts/苹果黑体-极细-简.eot?#iefix') format('embedded-opentype'), 
//              url('../fonts/苹果黑体-极细-简.woff') format('woff'), 
//              url('../fonts/苹果黑体-极细-简.ttf')  format('truetype'),
//              url('../fonts/苹果黑体-极细-简.svg#苹果黑体-极细-简') format('svg'); 
// }